<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee  profile</title>
    <link rel="stylesheet" th:href="@{/css/employee.css}">
    <link th:href="@{/css/tailwind.min.css}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div th:insert="navbar.html::header" ></div>
<h4>employee Profile</h4>
<div class="container" style="margin-top: 9rem">
    <form  action="/employee/{id}/edit" method="POST" enctype="multipart/form-data">
        <div class="row gutters">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="account-settings">
                            <div class="user-profile">
                                <div class="user-avatar">
                                    <img  th:src="'data:image/jpeg;base64,' + ${employeeEntity.profileImage}" alt="Employee Image" />
                                </div>
                                <h5 class="user-name" th:text="*{employeeEntity.firstName}"></h5>
                                <h6 class="user-email" th:text="*{employeeEntity.personalMail}"></h6>
                                <p>REF:</p>
                                <h6 class="user-email" th:text="*{employeeEntity.ref}"></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">

                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mb-2 text-primary">Personal Details</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="firstName">Firstname</label>
                                    <p th:text="*{employeeEntity.firstName}" id="firstName"  ></p>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="fullName">Lastname</label>
                                    <p id="fullName" th:text="*{employeeEntity.lastName}"></p>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="workMail">work Mail</label>
                                    <p th:text="*{employeeEntity.workMail}"  class="form-control" id="workMail" ></p>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="personalEmail">personal mail</label>
                                    <p th:text="*{employeeEntity.personalMail}"  id="personalEmail" ></p>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="phone">Phone,you can add more address by ending with ","</label>
                                    <p th:text="*{employeeEntity.phoneNumbers.get(0).getPhoneNumber()}" id="phone" ></p>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="website">Job  Function</label>
                                    <p th:text="*{employeeEntity.jobFunction}" id="website"></p>
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="address">Address</label>
                                    <p th:text="*{employeeEntity.address}" id="address" ></p>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="children">Number of children</label>
                                    <p th:text="*{employeeEntity.numberOfChildren}" id="children"></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="hire">hire Date</label>
                                <p th:text="*{employeeEntity.hireDate}" id="hire" ></p>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="number">Identity card number</label>
                                <p th:text="*{employeeEntity.identityCard.cinNumber}" id="number" ></p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="place">Identity card delivrate place</label>
                                <p th:text="*{employeeEntity.identityCard.cinIssuePlace}" id="place" ></p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="date">Identity card delivrate date</label>
                                <p th:text="*{employeeEntity.identityCard.cinIssueDate}" id="date" ></p>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="departure">firing date</label>
                                <p th:text="*{employeeEntity.departureDate}" id="departure"></p>
                            </div>
                        </div>
                    </div>
                    <div class="row gutters">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="">
                                <label for="socioProfessionalCategory">Socio-Professional Category:</label>
                                <p class="" id="socioProfessionalCategory" th:text="*{employeeEntity.socioProfessionalCategory}" required>

                                </p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="category">CNAPS Number</label>
                                <p th:text="*{employeeEntity.cnapsNumber}" id="category" ></p>
                            </div>
                        </div>
                    </div>
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="text-right">
                                <button type="button" id="cancel" name="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                    <a href="/" style="text-decoration: none">Cancel</a>
                                    </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>
</div>



</body>
</html>