<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee  profile</title>
    <link rel="stylesheet" th:href="@{/css/employee.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img th:src="@{/img/logo.png}" alt="" width="40" height="40" class="d-inline-block align-text-top">
            Carlcare INC.
        </a>
        <div class="d-flex row">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/006/184/737/small/logout-sign-out-icon-in-line-style-vector.jpg" width="40" height="40"/>
            <h5> Logout </h5>
        </div>
    </div>
</nav>
<h4> Edit employee</h4>
<div class="container">
    <form  action="/employee/{id}/edit" method="POST" enctype="multipart/form-data">
        <div class="row gutters">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="account-settings">
                            <div class="user-profile">
                                <div class="user-avatar">
                                    <img  th:src="'data:image/jpeg;base64,' + ${employeeEntity.profileImage}" alt="Employee Image" />
                                </div>
                                <h5 class="user-name" th:text="*{employeeEntity.firstName}"></h5>
                                <h6 class="user-email" th:text="*{employeeEntity.personalMail}"></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">

                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mb-2 text-primary">Personal Details</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="firstName">Firstname</label>
                                    <p th:text="*{employeeEntity.firstName}" id="firstName"  ></p>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="fullName">Lastname</label>
                                    <p id="fullName" th:text="*{employeeEntity.lastName}"></p>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="workMail">work Mail</label>
                                    <p th:text="*{employeeEntity.workMail}"  class="form-control" id="workMail" ></p>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="personalEmail">personal mail</label>
                                    <p th:text="*{employeeEntity.personalMail}"  id="personalEmail" ></p>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="phone">Phone,you can add more address by ending with ","</label>
                                    <p th:text="*{employeeEntity.phoneNumbers.get(0).getPhoneNumber()}" id="phone" ></p>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="website">Job  Function</label>
                                    <p th:text="*{employeeEntity.jobFunction}" id="website"></p>
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="address">Address</label>
                                    <p th:text="*{employeeEntity.address}" id="address" ></p>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="children">Number of children</label>
                                    <p th:text="*{employeeEntity.numberOfChildren}" id="children"></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="hire">hire Date</label>
                                <p th:text="*{employeeEntity.hireDate}" id="hire" ></p>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="number">Identity card number</label>
                                <p th:text="*{employeeEntity.identityCard.cinNumber}" id="number" ></p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="place">Identity card delivrate place</label>
                                <p th:text="*{employeeEntity.identityCard.cinIssuePlace}" id="place" ></p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="date">Identity card delivrate date</label>
                                <p th:text="*{employeeEntity.identityCard.cinIssueDate}" id="date" ></p>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="departure">firing date</label>
                                <p th:text="*{employeeEntity.departureDate}" id="departure"></p>
                            </div>
                        </div>
                    </div>
                    <div class="row gutters">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="">
                                <label for="socioProfessionalCategory">Socio-Professional Category:</label>
                                <p class="" id="socioProfessionalCategory" th:text="*{employeeEntity.socioProfessionalCategory}" required>

                                </p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="category">CNAPS Number</label>
                                <p th:text="*{employeeEntity.cnapsNumber}" id="category" ></p>
                            </div>
                        </div>
                    </div>
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="text-right">
                                <button type="button" id="cancel" name="submit" class="btn btn-secondary">
                                    <a href="/" >Cancel</a>
                                    </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>
</div>



</body>
</html>