<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Page de connexion</title>
</head>
<body >
<h2>Connexion</h2>
<form th:action="@{/login}" method="post" >
    <div>
        <label for="userName">UserName:</label>
        <input type="text" id="userName" name="userName" th:field="${employee.userName}" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" th:field="${employee.password}" required>
    </div>
    <div>
        <button type="submit" >
            Se connecter</button>
    </div>
</form>

</body>
</html>
