<!DOCTYPE html>
<html>
<head>
    <meta charset = "ISO-8859-1" />
    <link href = "css/styles.css" rel = "stylesheet"/>
    <script th:src="@{../static/js/script.js}" type="text/javascript"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Employee Management</title>
</head>
<script th:inline="javascript" >
    function redirectEmployee(id) {
        return window.location.href = '/employee/' + id;
    }
    function redirectEmployeeToEdit(id) {
        return window.location.href = '/employee/' + id+'/edit';
    }
    function submitForm() {
        // Supprimer les champs de saisie dont la valeur est null avant de soumettre le formulaire
        const firstNameInput = document.querySelector('input[name="firstName"]');
        const lastNameInput = document.querySelector('input[name="lastName"]');
        const jobFunctionInput = document.querySelector('input[name="jobFunction"]');
        const entranceInput = document.querySelector('input[name="entrance"]');
        const departureInput = document.querySelector('input[name="departure"]');
        const sexSelect = document.getElementById('sex');

        if (firstNameInput && firstNameInput.value === ''|| firstNameInput.value==="null") {
            firstNameInput.disabled = true;
        }

        if (lastNameInput && lastNameInput.value === '' || lastNameInput.value==="null") {
            lastNameInput.disabled = true;
        }

        if (jobFunctionInput && jobFunctionInput.value === ''|| jobFunctionInput.value==="null") {
            jobFunctionInput.disabled = true;
        }

        if (entranceInput && entranceInput.value === ''|| entranceInput.value==="null") {
            entranceInput.disabled = true;
        }

        if (departureInput && departureInput.value === ''|| departureInput.value==="null") {
            departureInput.disabled = true;
        }

        if (sexSelect && sexSelect.value === '' || sexSelect.value==="null") {
            sexSelect.disabled = true;
        }
    }
</script>
<body>
<h1>
    Welcome to our Employee Management
</h1>
<h2>Employees</h2>
    <button class="btn btn-info" type="button"><a href="/addEmployee">Add new employeeEntity</a></button></a>

<table th:switch="${#lists.size(employeeEntities)}" class="table table-bordered table-striped" id="employeeTable">
        <span th:case="0">
            we have no employeeEntities
        </span>
    <span th:case="*">

         <label for="department">Filter by Criteria:</label>
        <select id="department" name="department"  >
            <option value="">No filter</option>
            <option>firstName</option>
            <option>hire Date</option>
            <option>Departure date</option>
            <option>socio criteria </option>
            <option> </option>
            <option> Sex </option>
            <option> Function </option>
        </select>
        <form th:action="@{/employee}" id="employeeForm"  method="get">
            <input type="text" name="firstName"  th:value="${firstName}" placeholder="search by firstNam">
            <input type="text" name="lastName"  th:value="${lastName}" placeholder="search by lastName">
            <input type="text" name="jobFunction"  th:value="${jobFunction}" placeholder="search by Job Function">
            <input type="date" name="entrance"  th:value="${hireDate}" >
            <input type="date" name="departure"  th:value="${departureDate}">
            <select name="sex" th:value="${sex}"  id="sex">
                <option value="null" id="not_specified">not specified</option>
                <option value="M">M</option>
                <option value="F">F</option>
            </select>
    <button type="submit"   onclick="submitForm()" >Rechercher</button>
</form>
                    <thead>
        <tr>
    <tr>
        <th>Profile image</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Birth Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employeeEntity : ${employeeEntities}">
        <td>
            <span th:if="${employeeEntity.profileImage== null}">No profile image</span>
            <span th:unless="${employeeEntity.profileImage== null}">
             <img th:src="'data:image/jpeg;base64,' + ${employeeEntity.profileImage}" width="80px" height="80px"  alt="image" src="">
        </span>
        </td>


        <td th:text="${employeeEntity.firstName}"></td>
        <td th:text="${employeeEntity.lastName}"></td>
        <td th:text="${employeeEntity.birthDate}"></td>
        <td>
            <button class="btn btn-info"  th:onclick="redirectEmployee([[${employeeEntity.id}]])">Voir la carte employ?e</button>
            <button class="btn btn-info"  th:onclick="redirectEmployeeToEdit([[${employeeEntity.id}]])">Modifier</button>
            </td>
    </tr>
    </tbody>
    </span>
</table>



</body>
</html>