<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>liste</title>
</head>
<body>
<h1>Liste des employés</h1>

<table>
    <thead>
    <tr>
        <th>Nom</th>
        <th>Prénoms</th>
        <th>Date de Naissance</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.nom}"></td>
        <td th:text="${employee.prenoms}"></td>
        <td th:text="${employee.dateNaissance}"></td>
    </tr>
    </tbody>
</table>

<h2>Ajouter un nouvel employé</h2>
<form action="/addEmployee" method="post" th:object="${newEmployee}">
    <label>Nom:</label>
    <input type="text" th:field="*{nom}" />

    <label>Prénoms:</label>
    <input type="text" th:field="*{prenoms}" />

    <label>Date de naissance:</label>
    <input type="text" th:field="*{dateNaissance}" />

    <button type="submit">Ajouter</button>
</form>
</body>
</html>
